<h1>Add Actor</h1>

<h3>Actor Details:</h3>
  <%= form_with url: request.path, method: :get, local: true do |form| %>
    <%= form.label :name, 'Name:'%>
    <%= form.text_field :name, required: true %><br><br>
    <%= form.label :age, 'Age:'%>
    <%= form.number_field :age, required: true, label: "Age" %><br><br>
    <%= form.label :currently_working, 'Currently Working:'%><br>
    <%= form.radio_button :currently_working, true %> Yes<br>
    <%= form.radio_button :currently_working, false %> No<br><br>
    <%= form.submit 'Submit Actor Details' %>
  <% end %>
